<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Create</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <header>
    <ul class="nav navbar-nav">
      <li><a href="/">Main</a></li>
      <li><a href="/create">Create</a></li>
      <li><a href="/update">Update</a></li>
      <li><a href="/delete">Delete</a></li>
    </ul>
  </header>
