<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Create</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <header>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="/">Main</a></li>
      <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
      <li class="nav-item"><a class="nav-link" href="/update">Update</a></li>
      <li class="nav-item"><a class="nav-link" href="/delete">Delete</a></li>
    </ul>
    <hr>
  </header>
