  {{> header}}
	<div class="container-fluid" id="body">
	    <div class="container" id="page-header">
	        <h1><span id="headline">Create a booking</span></h1>
	        <hr>
					<form method="post" action="/create">
  <div class="form-group row">
    <label for="start" class="col-4 col-form-label">Starting date/time</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input id="start" name="start" placeholder="DD/MM/YYYY" type="datetime-local" required="required" class="form-control here" aria-describedby="date_startHelpBlock">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="end" class="col-4 col-form-label">Ending date/time</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input id="end" name="end" placeholder="DD/MM/YYYY" type="datetime-local" class="form-control here" aria-describedby="end_dateHelpBlock" required="required">
      </div>
    </div>
  </div>
    <div class="form-group row">
    <label for="bookingType" class="col-4 col-form-label">Booking Type</label>
    <div class="col-8">
      <select class="form-control" id="bookingType" name="bookingType" type="text" class="form-control here" required="required">
				<option>Camera Operating</option>
				<option>Editing</option>
				<option>Dejero Live Shot</option>
				<option>Switched Production</option>
				<option>Consulting</option>
			</select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Equipment required</label>
    <div class="col-8">
      <label class="custom-control custom-radio">
        <input name="equipment" type="radio" class="custom-control-input" value="yes" required="required">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Yes</span>
      </label>
      <label class="custom-control custom-radio">
        <input name="equipment" type="radio" class="custom-control-input" value="no" required="required">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">No</span>
      </label>
    </div>
  </div>
	<div class="form-group row">
    <label class="col-4">Vehicle required</label>
    <div class="col-8">
      <label class="custom-control custom-radio">
        <input name="vehicle" type="radio" class="custom-control-input" value="yes" required="required">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Yes</span>
      </label>
      <label class="custom-control custom-radio">
        <input name="vehicle" type="radio" class="custom-control-input" value="no" required="required">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">No</span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label for="rate" class="col-4 col-form-label">Booking rate</label>
    <div class="col-8">
      <input id="rate" name="rate" placeholder="£0" type="text" class="form-control here" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="client" class="col-4 col-form-label">Client</label>
    <div class="col-8">
      <input id="client" name="client" type="text" class="form-control here" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="booker" class="col-4 col-form-label">Booked by:</label>
    <div class="col-8">
      <input id="booker" name="booker" type="text" class="form-control here" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="bookerEmail" class="col-4 col-form-label">Contact email</label>
    <div class="col-8">
      <input id="bookerEmail" name="bookerEmail" type="email" class="form-control here" required="required" placeholder="name@company.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="additionalInfo" class="col-4 col-form-label">Additional Info</label>
    <div class="col-8">
      <textarea id="additionalInfo" name="additionalInfo" type="textarea" class="form-control here" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
    <hr>
  </div>
</form>


	    </div>
	</div>
  {{> footer}}
