
  {{> header}}
	<div class="container-fluid" id="body">
	    <div class="container alert alert-danger" id="page-header">
	        <h1><span id="headline">Unable to save to the database</span></h1>
	        <hr>

	    </div>
	</div>
  {{> footer}}
