
  {{> header}}
	<div class="container-fluid" id="body">
	    <div class="container alert alert-success" id="page-header">
	        <h1><span id="headline">Booking saved</span></h1>
	        <hr>
          <script type="text/javascript">
            function leave() {
              window.location = "/";
              }
            setTimeout("leave()", 5000);
          </script>
	    </div>
	</div>
  {{> footer}}
