<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
</head>
<body>
  {{> header}}
	<div class="container-fluid" id="body">
	    <div class="container" id="page-header">
	        <h1><span id="headline">Update a booking</span></h1>
	        <hr>
	    </div>
	</div>
  {{> footer}}
</body>
</html>
